<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>About Anna</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900|Rokkitt:400,700" rel="stylesheet">
		<%= stylesheet_link_tag "application.css" %>
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 
			<h1>Anna Compliment Generator</h1>
			<p></p>
			<h2>This App generates a compliment and texts it to Anna</h2>

			<% if user_signed_in? %>
				<%= form_tag("/sms/send", method: "post") do %>
	  				<%= render 'layouts/compform' %>
				<% end %>

				<b></b>
				<p1><span class="label label-primary"><%= params[:exampleInputNumber2] %></span></p1> 

				<%= form_tag("/sms/send", method: "post") do %>
				  <%= render 'layouts/smsform' %>
				<% end %>
			<% else %>
				<p>
					<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
					<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
				</p>
			<% end %>

			<b></b>
			<a href="https://github.com/pmacnaughton/" target=_blank>
				<%= image_tag('github.png', :alt => "Github") %>
			</a>
			<a href="https://www.facebook.com/anna.beddor" target=_blank>
				<%= image_tag('facebook.png', :alt => "Facebook") %>
			</a>
			<a href="https://twitter.com/anna_beddor" target=_blank>
				<%= image_tag('twitter.png', :alt => "Twitter") %>
			</a>
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>
